/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Depois do CSS Reset */
/* Paleta de cores */
:root {
  --cinza-50: #f9fafb;
  --cinza-100: #f3f4f6;
  --cinza-200: #e5e7eb;
  --cinza-300: #d1d5db;
  --cinza-400: #9ca3af;
  --cinza-500: #6b7280;
  --cinza-600: #4b5563;
  --cinza-700: #374151;
  --cinza-800: #1f2937;
  --cinza-900: #111827;

  --azul-200: #b3d1ff; /* New lighter blue color */
  --azul-500: #007bff;
  --azul-700: #0052cc;
  --azul-800: #003d99;
}

/* navbar azul */
.navbar {
  background-color: var(--azul-500);
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}
.navbar-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-nav {
  display: flex;
  gap: 20px;
}

.ativo {
  color: var(--cinza-300);
  text-decoration: underline;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo-principal {
  width: 1200px;
  padding: 20px;
  border: 1px solid var(--cinza-100);
  border-top: 0;
  border-radius: 5px;
}

@media screen and (max-width: 1200px) {
  .navbar-wrapper {
    flex-direction: column;
  }
  .navbar-logo {
    display: flex;
    justify-content: center;
  }
  .navbar-links {
    justify-content: center;
  }

  .navbar-nav {
    gap: 10px;
    flex-direction: column;
  }

  .container {
    flex-direction: row;
  }

  .conteudo-principal {
    width: 100%;
  }
}
